{% load static %}
<a href="{{ product.get_absolute_url }}"
    class="block w-[260px]  transition duration-300 hover:scale-105 active:scale-95">
    <div class="relative pt-[100px] px-6 pb-6 font-montserrat 
                    flex flex-col items-center text-center 
                    bg-[#B11D1D] rounded-[50px]">


        <img src="{{ product.image.url }}" class="w-[200px] h-[200px] object-cover 
                    absolute -top-[80px] left-1/2 -translate-x-1/2">

        <!-- Контент -->
        <h3 class="text-lg font-bold mt-2 text-white line-clamp-1">
            {{ product.name }}
        </h3>

        <p class="mt-5 text-sm line-clamp-3 text-[#F6BE51] line-clamp-3">
            {{ product.description }}
        </p>

        {% with parent=product.category.parent %}

        {% if product.category.slug == 'pizza' or parent.slug == 'pizza' %}
        <!-- 🍕 ПИЦЦА -->
        <div class="flex items-center gap-2 mt-5">
            <img src="{% static 'image/deametr.svg' %}" class="w-6 h-6">
            <p class="text-lg text-white">30 см</p>
        </div>
        {% endif %}

        {% if product.category.slug == 'sushi' or parent.slug == 'sushi' %}
        <!-- 🍣 СУШИ -->
        <p class="text-lg text-white">{{ product.category.name }}</p>
        {% endif %}

        {% endwith %}

        <p class="text-sm text-green-500 mt-5 font-bold">В наличии</p>

        <div class="flex items-center gap-4 mt-5">
            <p class="text-2xl font-bold text-yellow-400">
                {{ product.price|floatformat:0 }} <span class="text-sm font-normal">грн</span>
            </p>

            <button class="px-6 py-2 rounded-full 
                    bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 
                    text-white font-semibold
                    hover:scale-105 active:scale-95 transition">
                <img src="{% static 'image/card.svg' %}" class="w-5 h-5">
            </button>
        </div>
    </div>
</a>