{% extends "shop/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center px-4 py-12 mt-10">
    <div class="w-full max-w-lg bg-white/50 shadow-lg rounded-3xl p-8">
        <h1 class="text-2xl font-bold text-center mb-6">Форма оформления заказа</h1>

        <form method="post" class="space-y-4">
            {% csrf_token %}

            <!-- Имя и Фамилия рядом на больших экранах -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- First Name -->
                <div class="flex flex-col">
                    <label for="{{ form.first_name.id_for_label }}"
                        class="text-sm font-medium mb-1">{{form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.first_name.errors }}</p>
                    {% endif %}
                </div>

                <!-- Last Name -->
                <div class="flex flex-col">
                    <label for="{{ form.last_name.id_for_label }}"
                        class="text-sm font-medium mb-1">{{form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.last_name.errors }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Email -->
            <div class="flex flex-col">
                <label for="{{ form.email.id_for_label }}" class="text-sm font-medium mb-1">{{form.email.label}}</label>
                {{ form.email}}
                {% if form.email.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.email.errors }}</p>
                {% endif %}
            </div>
            <!-- Phone -->
            <div class="flex flex-col">
                <label for="{{ form.phone.id_for_label }}" class="text-sm font-medium mb-1">{{form.phone.label}}</label>
                {{ form.phone }}
                {% if form.phone.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.phone.errors }}</p>
                {% endif %}
            </div>

            <!-- Кнопка -->
            <button type="submit"
                class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md transition">
                Оформить заказ
            </button>
            <!-- Кнопка -->
            <a href="tel:+380990160002"><button type="submit"
                    class="w-full bg-red-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md transition mt-4">
                    Связатся с менеджером
                </button>
            </a>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Имя и фамилия только буквы
        const firstName = document.getElementById('first_name');
        const lastName = document.getElementById('last_name');
        const email = document.getElementById('email');
        const branch = document.getElementById('nova_poshta_branch');

        firstName.addEventListener('input', () => {
            const regex = /^[а-яА-ЯёЁa-zA-Z\s]*$/;
            document.getElementById('first_name_error').style.display = regex.test(firstName.value) ? 'none' : 'block';
        });

        lastName.addEventListener('input', () => {
            const regex = /^[а-яА-ЯёЁa-zA-Z\s]*$/;
            document.getElementById('last_name_error').style.display = regex.test(lastName.value) ? 'none' : 'block';
        });

        email.addEventListener('input', () => {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            document.getElementById('email_error').style.display = regex.test(email.value) ? 'none' : 'block';
        });

        branch.addEventListener('input', () => {
            const regex = /^\d*$/;
            document.getElementById('branch_error').style.display = regex.test(branch.value) ? 'none' : 'block';
        });
    });
</script>
{% endblock %}