{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<!-- стрелка назад -->

<a href="/"
    class="absolute top-20 left-4 flex items-center gap-2 
                  text-[#64352A] hover:text-black transition group z-50 border-2 border-[#64352A] rounded-full px-4 py-2">

    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition group-hover:-translate-x-1" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>

    <span class="font-montserrat text-sm">
        На главную
    </span>
</a>



<!-- стрелка назад -->


<!-- детальная страница товара -->
<section class="py-16 px-5 sm:mt-10 mt-20">

    <div class="max-w-6xl mx-auto 
                grid grid-cols-1 md:grid-cols-2 gap-10 items-center justify-center">

        <!-- 🟡 ЛЕВАЯ ЧАСТЬ -->
        <div class="flex flex-col items-center justify-center">

            <!-- Картинка -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                class="w-full max-w-[500px] h-auto object-contain mb-6" loading="lazy">
            <!-- Картинка -->
            <div class="flex flex-row flex-wrap gap-10 justify-center items-center">
                {% with parent=product.category.parent %}

                <!-- ПИЦЦА -->
                {% if product.category.slug == 'pizza' or parent and parent.slug == 'pizza' %}
                <div class="flex flex-row gap-5 justify-center items-center">
                    <img src="{% static 'image/deametr1.svg' %}" class="w-8 h-8">
                    <p class="text-[#64352A] font-montserrat text-4xl max-w-md text-left">
                        30<span class="font-normal text-lg">см</span>
                    </p>
                </div>
                {% endif %}

                <!-- СУШИ -->
                {% if product.category.slug == 'sushi' or parent and parent.slug == 'sushi' %}
                <p class="text-[#64352A] font-montserrat text-4xl max-w-md text-left font-normal">
                    {{ product.category.name }}
                </p>
                {% endif %}

                {% endwith %}

                <div class="flex flex-row gap-5 justify-center items-center">
                    <p class="text-[#64352A] font-montserrat text-4xl max-w-md text-left">{{ product.weight }}<span
                            class="font-normal text-lg"> грамм</span></p>
                </div>
            </div>

        </div>

        <!-- 🔴 ПРАВАЯ ЧАСТЬ -->
        <div class="bg-[#FFCB90]/40
                    rounded-[60px] p-8 text-left">

            <!-- Текст -->
            <h1 class="text-3xl font-bold text-[#64352A] mb-4 font-montserrat">
                {{ product.name }}
            </h1>
            <p class="text-[#64352A] text-xl font-montserrat mb-5 font-bold">Состав :</p>

            <h2 class="text-[#64352A] text-sm mb-6 font-montserrat">
                {{ product.description }}
            </h2>
            <p class="text-[#64352A] text-xl font-montserrat mb-5 font-bold">Цена :</p>
            <h4 class="text-[#64352A] text-5xl mb-6 font-montserrat">
                {{ product.price|floatformat:0 }} <span class="font-normal text-lg">грн</span>
            </h4>

            <!-- Кнопки -->
            <div class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start">


                <a href="/con" class="px-6 py-3 rounded-full 
                          border-2 border-[#64352A] text-[#64352A]
                          hover:bg-[#64352A] hover:text-white transition text-center">
                    Уточнить заказ
                </a>
                <form action="{% url 'cart:cart_add' product.id %}" method="post" class="inline-block">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="override" value="False">
                    <button type="submit" class="px-6 py-3 rounded-full 
                            border-2 border-[#64352A] text-[#64352A]
                            hover:bg-[#64352A] hover:text-white transition text-center">
                        Добавить в корзину
                    </button>
                </form>



            </div>

        </div>

    </div>

</section>
<!-- Бдетальная страница товара -->

<!----------------Текст-------------- -->
<div class="flex items-center justify-center mt-20 flex-col px-1 text-center">
    <img src="{% static 'image/additions.svg' %}" class="w-20 h-20 mb-4" alt="pizza" loading="lazy">
    <h4 class="text-5xl sm:text-6xl font-bold mb-2 font-montserrat text-[#64352A]">
        Добавки
    </h4>
</div>

<!----------------Текст-------------- -->
{% if extras %}
<div class="flex flex-row items-center justify-center mt-10 gap-5 flex-wrap mb-10">
    {% for product_extra in extras %}
    {% include 'include/product_extra.html' with product_extra=product_extra %}
    {% endfor %}
</div>
{% endif %}
<!----------------как заказать--------------->
<!----------------Текст-------------- -->
<div class="flex items-center justify-center mt-20 flex-col px-1 text-center">
    <img src="{% static 'image/dostavka.svg' %}" class="w-20 h-20 mb-4" alt="pizza" loading="lazy">
    <h4 class="text-5xl sm:text-6xl font-bold mb-2 font-montserrat text-[#64352A]">Как заказать
        <span class="text-[#BF0F0F] font-normal">доставку</span>
    </h4>
    <h5 class="text-sm font-normal mb-2 font-montserrat text-[#64352A] max-w-[350px] mt-5">Доставка осуществляется в
        течении 40 минут</h5>
</div>
<div class="flex items-center justify-center mt-5 flex-row px-1 text-center">
    <a href="/menu" class="inline-block mt-3 px-6 py-3 border-2 border-[#64352A] rounded-full 
                hover:bg-[#64352A] hover:text-white transition font-montserrat text-[#64352A] mb-5">
        Заказать доставку
    </a>
</div>
<!----------------Текст-------------- -->

<div class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-4">
    <!-- Карточка 1 -->
    <div class="bg-[#FFCB90]/40 rounded-2xl p-6 flex flex-col font-montserrat">
        <div class="flex flex-col items-start">
            <div
                class="w-12 h-12 bg-[#64352A] text-white rounded-full flex items-center justify-center font-bold text-2xl text-[#FFCB90]">
                1
            </div>
            <h3 class="text-2xl font-bold mt-4 text-[#64352A]">Быстрый заказ по телефону</h3>
            <p class="text-sm text-[#64352A] mt-5">
                Выберите пиццу или суши, добавьте в корзину, нажмите кнопку «Позвонить» и закажите доставку на дом.
                Оплата наличными при получении.
            </p>
        </div>
    </div>

    <!-- Карточка 2 -->
    <div class="bg-[#FFCB90]/40 rounded-2xl p-6 flex flex-col">
        <div class="flex flex-col items-start">
            <div
                class="w-12 h-12 bg-[#64352A] text-white rounded-full flex items-center justify-center font-bold text-2xl text-[#FFCB90]">
                2
            </div>
            <h3 class="text-2xl font-bold mt-4 text-[#64352A]">Оплата онлайн</h3>
            <p class="text-sm text-[#64352A] mt-5">
                Выберите пиццу или суши, добавьте в корзину, оплатите онлайн карточкой. Менеджер свяжется с вами для
                уточнения адреса и времени доставки.


            </p>
        </div>
    </div>

    <!-- Карточка 3 -->
    <div class="bg-[#FFCB90]/40 rounded-2xl p-6 flex flex-col">
        <div class="flex flex-col items-start">
            <div
                class="w-12 h-12 bg-[#64352A] text-white rounded-full flex items-center justify-center font-bold text-2xl text-[#FFCB90]">
                3
            </div>
            <h3 class="text-2xl font-bold mt-4 text-[#64352A]">Свяжитесь с нами</h3>
            <p class="text-sm text-[#64352A] mt-5">
                Добавьте товары в корзину и нажмите «Свяжитесь с нами». Мы быстро свяжемся с вами для подтверждения.

            </p>
        </div>
    </div>
    <!-- Карточка 2 -->
    <div class="bg-[#FFCB90]/40 rounded-2xl p-6 flex flex-col">
        <div class="flex flex-col items-start">
            <div
                class="w-12 h-12 bg-[#64352A] text-white rounded-full flex items-center justify-center font-bold text-2xl text-[#FFCB90]">
                4
            </div>
            <h3 class="text-2xl font-bold mt-4 text-[#64352A]">Заказ на время или дату</h3>
            <p class="text-sm text-[#64352A] mt-5">
                Вы можете позвонить или нажав на кнопку «Свяжитесь с нами» заказать на время или на дату
            </p>
        </div>
    </div>

    <!-- Добавляй столько карточек, сколько нужно -->
</div>
<!----------------как заказать--------------->

<!----------------доставка баннер---- font-montserrat text-[#64352A]----------->
<!-- экран дестоп -->
<section class="hidden md:block relative h-screen">

    <!-- 🖼 КАРТИНКА (lazy) -->
    <img src="{% static 'image/dostavka.webp' %}" class="absolute inset-0 w-full h-full object-cover" loading="lazy"
        alt="Доставка пиццы и сушив Днепре">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/10"></div>

    <!-- контент -->
    <div class="relative z-10 h-full flex items-center">
        <div class="max-w-[700px] pl-20">
            <div class="flex flex-row items-center gap-2">
                <img src="{% static 'image/Map2.svg' %}" alt="Logo" class="w-5 h-5" loading="lazy">
                <p class="text-xl text-[#64352A] font-montserrat font-bold">
                    Dnipro, Ukraine 10:00-21:00
                </p>

            </div>
            <h4 class="lg:text-6xl text-4xl font-normal mt-5 font-montserrat text-[#64352A]">
                Быстрая Доставка <span class="lg:text-6xl text-4xl font-bold">за 40 минут</span>
            </h4>

            <p class="mt-5 lg:text-2xl text-xl font-montserrat text-[#64352A]">
                <span class="font-bold text-3xl">Быстрая доставка</span> свежих суши, холодных и горячих роллов в
                районы Тополь, Сокол, Квартал
            </p>

            <a href="/menu" class="inline-block mt-8 px-6 py-3 border-2 border-[#64352A] rounded-full 
                hover:bg-[#64352A] hover:text-white transition font-montserrat text-[#64352A]">
                Заказать доставку
            </a>

            <img src="{% static 'image/people.svg' %}" alt="Доставка" class="w-[200px] mt-10" loading="lazy">
            <div class="flex flex-row flex-wrap gap-2 font-montserrat">
                <div class="flex items-center mt-5 text-[#64352A]">
                    <p class="text-sm">
                        <span class="font-bold text-lg">+1000 <span class="font-normal">довольных клиентов в</span>
                            Днепре</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- экран дестоп-->

<!-- экран моб -->
<section class="md:hidden relative w-full text-white">

    <!-- Картинка -->
    <img src="{% static 'image/dostavka-mob.webp' %}" alt="Пицца" class="w-full h-auto block">
    <div class="absolute inset-0 bg-black/10"></div>

    <!-- Текст ПО ЦЕНТРУ -->
    <div class="absolute inset-0 flex flex-col justify-start px-4 mt-10">

        <div class="flex flex-row items-center gap-2">
            <img src="{% static 'image/Map2.svg' %}" alt="Logo" class="w-5 h-5" loading="lazy">
            <p class="text-sm text-[#64352A] font-montserrat font-bold">
                Dnipro, Ukraine 10:00-21:00
            </p>

        </div>
        <h4 class="text-4xl font-normal mt-5 font-montserrat text-[#64352A]">
            Быстрая Доставка <span class="text-3xl font-bold">за 40 минут</span>
        </h4>
        <p class="mt-5 text-xl font-montserrat text-[#64352A] uppercase">
            Пицца, суши & роллы
        </p>
        <div class="flex flex-row flex-wrap gap-2 font-montserrat">


        </div>


        <a href="/menu" class="inline-block mt-8 px-6 py-3 border-2 border-[#64352A] rounded-full  bg-[#64352A] 
                hover:bg-white hover:text-[#64352A] transition font-montserrat text-white text-center">
            Заказать доставку
        </a>

    </div>
</section>
<!-- экран моб -->

<!-- смотри еще -->
<div class="flex items-center justify-center mt-20 flex-col px-1 text-center">
    <h4 class="text-2xl font-bold mb-2 font-montserrat text-[#64352A]">
        Смотрите
        <span class="text-[#BF0F0F] font-normal">также</span>
    </h4>
</div>


<!-- смотри еще  -->
<div class="mt-12 flex flex-wrap justify-center sm:gap-1 gap-2">

    <a href="{% url 'shop:uslovia-dostavki' %}" class="px-5 py-2 rounded-full 
              border border-[#64352A] text-[#64352A]
              hover:bg-[#64352A] hover:text-white 
              transition font-montserrat text-sm">
        Доставка и оплата
    </a>

    <a href="{% url 'shop:privacy' %}" class="px-5 py-2 rounded-full 
              border border-[#64352A] text-[#64352A]
              hover:bg-[#64352A] hover:text-white 
              transition font-montserrat text-sm">
        Политика конфиденциальности
    </a>

    <a href="{% url 'shop:offer' %}" class="px-5 py-2 rounded-full 
              border border-[#64352A] text-[#64352A]
              hover:bg-[#64352A] hover:text-white 
              transition font-montserrat text-sm">
        Публичная оферта
    </a>
    <a href="{% url 'shop:obmen' %}" class="px-5 py-2 rounded-full 
              border border-[#64352A] text-[#64352A]
              hover:bg-[#64352A] hover:text-white 
              transition font-montserrat text-sm">
        Обмен и возврат
    </a>

</div>
<!-- смотри еще  -->
<!----------------доставка баннер--------------->


{% endblock %}